# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variables
*.tfvars

# Sensitive files
*.pem

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Jenkins
.jenkins/

# Environment files
.env